<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <h1 class="text-center">
                    <%= sub.name %>
                </h1>
                <small class="text-center mb-3">
                    <%= sub.otherNames %>
                </small>
                <div class="card-body">
                    <h5>Variations</h5>
                    <div class="list-group">
                        <% for (let variation of sub.variations) {%>
                            <div class="list-group-item">
                                <a href="<%= variation.video %>" class="list-group-item list-group-item-action d-inline"
                                    target="_blank" rel="noopener noreferrer">
                                    <%= variation.name %>
                                </a>
                                <a href="/positions/<%=variation.position.id %>"
                                    class="list-group-item list-group-item-action d-inline">
                                    Position:
                                    <%=variation.position.name %>
                                </a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>