<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <h1 class="text-center">
                    <%= sub.name %>
                </h1>
                <small class="text-center mb-3">
                    <%= sub.otherNames %>
                </small>
                <div class="card-body">
                    <a class="card-link btn btn-warning" href="/submissions/<%= sub.id %>/edit">Edit</a>
                    <form class="d-inline" action="/submissions/<%= sub.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a class="card-link btn btn-success" href="/submissions/<%= sub.id %>/addSub">addSub</a>
                    <h5>Variations</h5>
                    <div class="list-group list-group-flush d-inline">
                        <% for (let variation of sub.variations) {%>
                            <div class="d-flex d-inline">
                                <a href="<%= variation.video %>" class="list-group-item list-group-item-action"
                                    target="_blank" rel="noopener noreferrer">
                                    <%= variation.name %>
                                </a>
                                <a href="/positions/<%=variation.position.id %>"
                                    class="list-group-item justify-content-end">
                                    <%=variation.position.name %>
                                </a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>