<% layout('layouts/boilerplate')%>
    <div class="container d-flex ms-5">
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">SubName</th>
                    <th scope="col">PosName</th>
                    <th scope="col">Video</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                <% for (let sub of subs) {%>
                    <tr>
                        <td>
                            <%=sub.name %>
                        </td>
                        <td>
                            <%=sub.subName %>
                        </td>
                        <td>
                            <%= sub.posName %>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="<%-sub.video %>" role="button">Link</a>
                        </td>
                        <td>
                            <form action="/submissions/variations/<%=sub.id %>?_method=PUT" method="POST" novalidate
                                class="validated-form">
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>