<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">
                        <%= position.name %>
                    </h1>
                    <p class="text-center"> <small>(<%= position.otherNames %>)</small></p>
                    <form action="/submissions/variations" id="add-submission" method="POST"
                        class="form-inline mb-3 validated-form" novalidate>
                        <div class="form-group">
                            <input type="hidden" id="positionId" name="variation[position]" value="<%=position.id %>">
                            <label for="submission">Submission Type</label>
                            <select id="submission" class="form-control" name="variation[submission]">
                                <% for (let sub of submissions) { %>
                                    <option value="<%=sub.id %>">
                                        <%= sub.name %>
                                    </option>
                                    <% } %>
                            </select>
                            <small>Not finding a sub?</small>
                            <a class="btn btn-success btn-sm" href="/submissions/new">Add New Submission</a>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name">Variation Name</label>
                            <input class="form-control" type="text" id="name" name="variation[name]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="otherNames">Video</label>
                            <input class="form-control" type="text" id="otherNames" name="variation[video]"
                                placeholder="Link to video demonstrating the technique in this position" required>
                        </div>
                        <button class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>