<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            <%= position.name %>
        </h1>
        <small class="text-center mb-3">
            (<%= position.otherNames %>)
        </small>
        <div class="col-6 offset-3">
            <div class="card">
                <img class="card-img-top" src="<%= position.image%>" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Submissions</h5>
                        <button class="btn btn-success" id="hideForm">New</button>
                    </div>
                    <form action="/variations" id="add-submission" method="POSt" style="display: none"
                        class="form-inline mb-3">
                        <div class="form-group">
                            <input type="hidden" id="positionId" name="variation[position]" value="<%=position.id %> ">
                            <label for="submission">Submission Type</label>
                            <select id="submission" class="form-control" name="variation[submission]">
                                <% for (let sub of submissions) { %> 
                                <option><%= sub.name %> </option>
                                <% } %> 
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="name">Variation Name</label>
                            <input class="form-control" type="text" id="name" name="variation[name]" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="otherNames">Video</label>
                            <input class="form-control" type="text" id="otherNames" name="variation[video]" placeholder="Link to video demonstrating the technique in this position" required>
                        </div>
                        <button class="btn btn-success">Add</button>
                    </form>
                    <ul class="list-group">
                        <% for (let sub of position.submissions) {%>
                            <li class="list-group-item">
                                <%= sub.name %>
                            </li>
                            <% } %>
                    </ul>
                    <a class="card-link btn btn-warning" href="/positions/<%= position.id %>/edit">Edit</a>
                    <form class="d-inline" action="/positions/<%= position._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/addSub.js"></script>