<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img class="card-img-top" src="<%= position.image%>" alt="Card image cap">
                <div class="card-body">
                    <h1 class="text-center">
                        <%= position.name %>
                    </h1>
                    <p class="text-center"> <small>(<%= position.otherNames %>)</small></p>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Submissions</h5>
                    </div>
                    <ul class="list-group">
                        <% for (let sub of position.submissions) {%>
                            <li class="list-group-item">
                                <a href="<%= sub.video %>" class="list-group-item list-group-item-action d-inline"
                                    target="_blank" rel="noopener noreferrer">
                                    <%= sub.name %>
                                </a>
                                <a href="/submissions/<%=sub.submission.id %>"
                                    class="list-group-item list-group-item-action d-inline justify-content-end">
                                    Submission:
                                    <%=sub.submission.name %>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                    <a class="card-link btn btn-warning" href="/positions/<%= position.id %>/edit">Edit</a>
                    <form class="d-inline" action="/positions/<%= position._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a class="card-link btn btn-success" href="/positions/<%= position.id %>/addSub">addSub</a>
                </div>
            </div>
        </div>
    </div>