<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            <%= position.name %>
        </h1>
        <small class="text-center mb-3">
            <%= position.otherNames %>
        </small>
        <div class="col-6 offset-3">
            <div class="card">
                <img class="card-img-top" src="<%= position.image%>" alt="Card image cap">
                <div class="card-body">
                    <h5>Submissions</h5>
                    <ul class="list-group">
                        <% for (let submission of position.submissions) {%>
                            <li class="list-group-item">
                                <a class="card-link" href="/submissions/<%= submission.submissionId %> "
                                    class="card-link">
                                    <%= submission.submissionName %>: <%= submission.name %>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                    <a class="card-link btn btn-warning" href="/positions/<%= position.id %>/edit">Edit</a>
                    <form class="d-inline" action="/positions/<%= position._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>