<% layout('layouts/boilerplate')%>
    <div class="container d-flex ms-5">
        <div class="row">
            <h1>All Techniques</h1>
            <table class="table text-light">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Side</th>
                        <th scope="col">Type</th>
                        <th scope="col">Video</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let tech of techniques) { %>
                        <tr>
                            <th scope="row">
                                <%= tech.name %>
                            </th>
                            <td>
                                <a href="/positions/<%= tech.position._id %>">
                                    <%= tech.position.name %>
                                </a>
                            </td>
                            <td>
                                <%= tech.side %>
                            </td>
                            <td>
                                <%= tech.type %>
                            </td>
                            <td><a class="btn btn-primary" href="<%= tech.video %>" role="button" target="_blank"
                                    rel="noopener noreferrer">Video</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>