<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Technique</h1>
        <div class="col-6 offset-3">
            <form action="/techniques" method="POST" novalidate class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="technique[name]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="otherNames">Other Names</label>
                    <input class="form-control" type="text" id="otherNames" name="technique[otherNames]">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="type">Type</label>
                    <select class="form-select" id="type" name="technique[type]">
                        <% for (let techType of techniqueTypes) { %>
                            <option>
                                <%=techType %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="technique[group]">Group</label>
                    <input list="groups" id="technique[group]" name="technique[group]" />
                    <datalist id="groups">
                        <% for (let group of groups) {%>
                            <option value="<%=group.name%>">
                            </option>
                            <% } %>
                    </datalist>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="side">Side</label>
                    <select class="form-select" id="side" name="technique[side]">
                        <option>Top</option>
                        <option>Bottom</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="position">Position</label>
                    <select id="position" class="form-select" name="technique[position]">
                        <% for (let pos of positions) { %>
                            <option value="<%=pos.id %>">
                                <%= pos.name %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="video">Video</label>
                    <input class="form-control" type="text" id="video" name="technique[video]" required>
                </div>
                <input type="hidden" id="userId" name="technique[userId]" value="<%=currentUser.id%>">
                <div class="mb-3">
                    <button class="btn btn-success">Add Technique</button>
                </div>
            </form>
        </div>
    </div>